.vscode/**
.vscode-test/**
.vite-hooks/**
out/**
node_modules/**
src/**
scripts/**
benchmarks/reports/**
.gitignore
.yarnrc
package-lock.json
vite.config.*
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/*.mts
**/.vscode-test.*

README_Future.md
.cursorrules
.towerignore
